<article class="product{{ not product.status ? ' sold-out' }} {{ cssClass }}">
    <h3>
        <a href="{{ path('app_product_show', { id: product.id }) }}">{{ product.name }}</a>
        <a href="{{ path('app_product_edit', { id: product.id }) }}" title="{{ 'Edit @name'|trans({ '@name': product.name}) }}" class="button button--icon">🖊️</a>
    </h3>
    <figure class="expand">
        <img src="{{ product.imageUrl }}"/>
    </figure>
    <p>{{ product.description }}</p>
    <p class="text-right">
        {% if product.status -%}
            {{ product.price|format_currency('EUR') }}
        {% else %}
            <span style="float: left; color: red;">{{ 'Sold out!'|trans|upper }}</span>
            <s>{{ product.price|format_currency('EUR') }}</s>
        {%- endif %}
    </p>
</article>