<article class="product{{ not product.status ? ' sold-out' }} {{ cssClass }}">
    <h3>
        {{- product.name -}}
        {% block adminActions %}
            <a href="{{ path('app_product_edit', { id: product.id }) }}" title="{{ 'Edit @name'|trans({ '@name': product.name}) }}" class="button button--icon">🖊️</a>
        {% endblock %}
    </h3>
    <figure class="expand">
        <img src="{{ product.imageUrl }}"/>
    </figure>
    <p>{{ product.description }}</p>
    <div class="grid grid--justify">
        <div class="col">
            {% block actions %}
                {% if product.status and cartId -%}
                    <a href="{{ path('app_cart_position_add', {
                        cart_id: cartId,
                        product_id: product.id,
                        quantity: 1,
                    }) }}" class="button">{{ 'Add to cart'|trans }}</a>
                {% elseif not product.status %}
                    <span class="button btn--danger text-right">{{ 'Sold out!'|trans|upper }}</span>
                {%- endif %}
            {% endblock %}
        </div>

        <div class="col">
            {% block price %}
                {% if not product.status -%}<s>{% endif %}
                {{ product.price|format_currency('EUR') }}
                {% if not product.status -%}</s>{% endif %}
            {% endblock %}
        </div>
    </div>
</article>