<article class="product{{ not product.status ? ' sold-out' }} {{ cssClass }}">
    <h3>
        <a href="{{ path('app_product_show', { id: product.id }) }}">{{ product.name }}</a>
        <a href="{{ path('app_product_edit', { id: product.id }) }}" title="{{ 'Edit @name'|trans({ '@name': product.name}) }}" class="button button--icon">🖊️</a>
    </h3>
    <figure class="expand">
        <img src="{{ product.imageUrl }}"/>
    </figure>
    <p>{{ product.description }}</p>
    <div class="grid grid--justify">
        <div class="col">
            {% if product.status -%}
                <a href="#todo" class="button">{{ 'Add to cart'|trans }}</a>
            {% else %}
                <span class="button btn--danger text-right">{{ 'Sold out!'|trans|upper }}</span>
            {%- endif %}
        </div>

        <div class="col">
            {% if product.status -%}
                {{ product.price|format_currency('EUR') }}
            {% else %}
                <s>{{ product.price|format_currency('EUR') }}</s>
            {%- endif %}
        </div>
    </div>
</article>