{% extends 'base.html.twig' %}

{% block title %}{{ 'Products'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Products'|trans }}</h1>

    {% block products %}
        <section class="grid">
            {% for product in products %}
                {% include 'component/product-card.html.twig' with {
                    product: product,
                    cssClass: 'col col--4',
                } only %}
            {% else %}
                <p class="col">
                    {{ 'There are no products yet'|trans }}
                </p>
            {% endfor %}
        </section>
    {% endblock %}

    {% block add %}
        <a href="{{ path('app_product_new') }}" class="button">➕ {{ 'Create new'|trans }}</a>
    {% endblock %}
{% endblock %}
