{% extends 'base.html.twig' %}

{% block title %}{{ 'Cart'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Cart'|trans }}</h1>

    <div class="container">
        {% if carts %}
            <ul class="inline-list">
                <strong>{{ 'All carts'|trans }}:</strong>
                {% for existingCart in carts %}
                    <li>
                        <a href="{{ path('app_cart_show', { id: existingCart.id }) }}">
                            <span class="button">{{ existingCart.positions|length }}</span>
                            {{ existingCart.comment|default('#' ~ existingCart.id) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <a href="{{ path('app_cart_add') }}" class="button">{{ 'Add new cart'|trans }}</a>
            <a href="{{ path('app_cart_clear', { id: cart.id }) }}" class="button">{{ 'Clear cart'|trans }}</a>
            <a href="{{ path('app_cart_delete', { id: cart.id }) }}" class="button">{{ 'Delete cart'|trans }}</a>
        </p>
    </div>

    {% if cart.comment %}
        <p><span class="label">{{ 'Comment'|trans }}:</span> {{ cart.comment }}</p>
    {% endif %}

    {% block positions %}
        <section class="grid">
            {% for position in cart.positions %}
                {% embed 'component/product-card.html.twig' with {
                    product: position.product,
                    cssClass: 'col col--4',
                    cartId: cart.id,
                    position: position,
                } only %}
                    {% block adminActions -%}
                        <span> &times; {{ position.quantity }}</span>
                    {%- endblock %}

                    {% block actions %}
                        {% if not product.status or position.quantity <= 1 %}
                            <a href="{{ path('app_cart_position_remove', {
                                cart_id: cartId,
                                id: position.id,
                            }) }}" class="button" title="{{ 'Remove from cart'|trans }}">🪣</a>
                        {% endif %}
                        {% if product.status %}
                            {% if position.quantity > 1 %}
                                <a href="{{ path('app_cart_position_update', {
                                    cart_id: cartId,
                                    id: position.id,
                                    quantity: position.quantity - 1,
                                }) }}" class="button">➖</a>
                            {% endif %}
                            <a href="{{ path('app_cart_position_update', {
                                cart_id: cartId,
                                id: position.id,
                                quantity: position.quantity + 1,
                            }) }}" class="button">➕</a>
                        {% endif %}
                    {% endblock %}

                    {% block price %}
                        {{ (product.price * position.quantity)|format_currency('EUR') }}
                    {% endblock %}
                {% endembed %}
            {% else %}
                <p class="col">
                    {{ 'This cart is empty.'|trans }}
                </p>
            {% endfor %}
        </section>
    {% endblock %}
{% endblock %}
